.about-section {
    display: grid;
    align-content: space-around;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.about-section-text {
font-size: 2.7vw;
}

/* Responsive Web Design Code */

@media (max-width: 640px) {
.about-section-text {
    font-size: 5vw;
}
}