.projects-section {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 1em;
    margin-right: 1em;
  }
  
.project {
  flex: 7;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

.project-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-header {
  flex: 1;
  font-size: 30px;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.project-repo-button {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
  padding: 0.5em;
  color: var(--color-yellow);
}

.project-repo-button-text {
  font-size: 1.5vw;
  margin-left: 10px;
}

.project-text-section {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 0.5em;
}

.project-paragraphs {
  display: flex;
  margin-top: 0.5em;
}

.project-paragraphs-link {
  color: var(--color-yellow);
  cursor: pointer;
}

.project-gifs-section {
  display: flex;
  justify-content: space-around;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.project-gif {
  position: relative;
  height: 15vw;
  width: 22.5vw;
  transition: transform 0.5s ease;
  transform-origin: bottom left;
  z-index: 0;
}

.project-gif:hover {
  transform: scale(1.5);
  transform-origin: bottom left;
  z-index: 1;
}

.project-gif img {
  max-width: 100%;
  border: 5px solid;
  border-radius: 25px;
}

.project-gif-label {
  position: absolute;
  bottom: -0.5em;
  right: 1em;
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 0px 2px 0px 2px;
  font-size: 1vw;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.project-bottom-section {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  font-size: 1vw;
}

.project-technologies {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
}

.project-technologies-header {
  font-weight: 500;
  text-decoration: underline;
}

.project-technologies-text-container {
  display: flex;
  flex-direction: row;
}

.project-technologies-text {
  margin-right: 1.5em;
}

.project-zoom-info {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--color-yellow);
}

.project-selection-buttons-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Responsive Web Design Code */

@media (max-width: 640px) {
  .project-header {
    font-size: 2.5vw;
  }

  .project-text-section,
  .project-technologies,
  .project-bottom-section,
  .project-zoom-info{
    font-size: 2vw;
  }

  .repo-icon {
    font-size: 0.8em;
  }

  .project-gifs-section {
    flex-direction: column;
  }

  .project-gif {
    height: 30vw;
    width: 45vw;
    margin-bottom: 1em;
  }

  .project-bottom-section {
    width: 100%;
    flex-flow: column-reverse;
  }

  .project-zoom-info {
    margin-left: 3em;
    margin-bottom: 1em;
  }

  .project-buttons {
    height: 40vh;
  }
}

/* Used for Fade In/Out function */

.fade-out {
  animation-name: fade-out-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.fade-in {
  animation-name: fade-in-animation;
  animation-duration: 0.5s;
  animation-timing-function: ease-in; 
}

@keyframes fade-out-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}