:root {
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-purple: rgb(124, 0, 173);
  --color-red: rgb(255, 0, 0);
  --color-yellow: rgb(238, 255, 0);
  --color-dark-gray: rgb(37, 37, 37);
  --color-light-gray: rgb(221, 221, 221);
  --color-green: rgb(0, 177, 24);
}