.header-container {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-container {
  margin-right: 2%;
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-products-button-container,
.nav-section-basket-components,
.nav-theme-button-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-section-basket-components {
  display: flex;
  flex-direction: row;
}

.nav-section-basket-total {
  font-size: 1.5em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.nav-section-link {
  height: 70%;
  display: flex;
  text-decoration: none;
}

/* Light and Dark Theme classes*/
.header-light-theme {
  background-color: var(--color-light);
  border-bottom: 1px solid black;
}

.header-dark-theme {
  background-color: var(--color-dark);
  border-bottom: 1px solid white;
}

/* Responsive Web Design */
@media screen and (max-width: 800px){
  .nav-section-basket-total {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .nav-container {
    width: 60%;
  }
}
