.product-card-container {
  width: 300px;
  height: 200px;
  border-radius: 2px;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr;
}

.product-card-name,
.product-card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.product-card-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.product-card-picture img {
  min-width: 95%;
  min-height: 95%;
}

.product-card-bottom {
  padding: 0.1em;
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr;
  column-gap: 0.5em;
  position: relative;
}

.product-card-in-basket,
.product-card-out-of-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 5px;
}

.product-card-in-basket {
  border: 3px solid green;
}

.product-card-out-of-stock {
  color: white;
  background-color: red;
}

.product-card-added-to-basket-popup {
  position: absolute;
  bottom: -100%;
  right: 0;
}

/* Light and Dark Theme classes*/
.product-card-container-light-theme {
  border: 2px solid black;
}

.product-card-container-dark-theme {
  border: 2px solid white;
}

/* Responsive Web Design */
@media screen and (max-width: 640px) {
  .product-card-container {
    width: 85%;
    height: auto;
    aspect-ratio: 3 / 2;
  }

  .product-card-added-to-basket-popup {
    bottom: -130%;
  }
}

@media screen and (max-width: 400px) {
  .product-card-added-to-basket-popup {
    bottom: -200%;
  }
}