.categories-container {
  margin-left: 3em;
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0.9;
  z-index: 1;
}

.categories-hover-container {
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: rgb(9, 114, 184);
  cursor: pointer;
  z-index: 2;
  pointer-events: all;
}

.categories-dropdown-container {
  padding: 1em;
  background-color: rgb(96, 160, 202);
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  pointer-events: all;
}

.categories-dropdown-container.visible {
  transform: translateY(0);
}

/* Responsive Web Design */
@media screen and (max-width: 640px) {
  .categories-container {
    margin-left: 0;
    width: 160px;
  }
}