.footer-container {
  width: 100%;
  height: 10vh;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-light-theme {
  border-top: 1px solid black;
}

.footer-dark-theme {
  border-top: 1px solid white;
}

/* Responsive Web Design */
@media screen and (max-width: 640px) {
  .footer-container {
    height: 5vh;
    font-size: 1rem;
  }
}