.checkout-button {
  margin: 0 10px 0 10px !important;
}

.checkout-button-products-amount-label {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}