.nav-section-products-button {
  width: auto;
  font-size: 1.2em !important;
}

.basket-section-purchase-button {
  width: auto;
  height: 100%;
  font-size: 1.2rem !important;
}

.products-section-restock-button {
  margin-right: 3em !important;
  width: 250px;
  height: 38px;
  pointer-events: all;
}

/* Responsive Web Design */
@media screen and (max-width: 640px) {
  .nav-section-products-button {
    font-size: 0.8em !important;
    width: 80px;
  }

  .product-section-add-button {
    padding: 0 !important;
    font-size: 0.8em !important;
  }

  .products-section-restock-button {
    margin-right: 0 !important;
    width: 160px;
    line-height: 1.2 !important;
  }
}